html,
body {
  background: linear-gradient(135deg, #FFC700, #AB6700);
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
li {
  list-style-type: none;
}

p {
  line-height: 1.5;
}