$highlight-color: #f8be6b;
$transition-duration: 0.4s;

.wrapper {
  margin: 0 auto;
  max-width: 102.4rem;
  min-height: 100vh;
  padding: 4rem;
  position: relative;
  z-index: 2;
}

.main {
  &__title {
    color: #ffffff;
    font-size: 4.8rem;
    position: relative;
  }
}

.version {
  &-tab {
    align-items: center;
    align-self: normal;
    background-color: #122a9a;
    border-radius: 0.8rem;
    border: 2px solid #ffffff;
    box-shadow: 0 0.5rem 1rem 0 #7688d5;
    color: #ffffff;
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
    max-width: 21.6rem;
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    transition: $transition-duration;
    width: 100%;

    &::before {
      border-radius: 0.4rem;
      border: 1px solid #ffffff;
      content: '';
      height: 90%;
      position: absolute;
      width: 96%;
    }

    &:hover {
      background-color: $highlight-color;
      color: #333333;
      cursor: pointer;
      transform: scale(1.1);
    }

    &-list {
      display: grid;
      grid-gap: 2.8rem;
      gap: 2.8rem;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      margin-top: 2rem;
    }

    &--active {
      background-color: $highlight-color;
      color: #333333;
      font-weight: 700;
    }
  }
}

.character-list {
  display: grid;
  gap: 2.8rem;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 2rem;

  & > li {
    aspect-ratio: 1/1;
    border-radius: 0.8rem;
    border: 2px solid #ffffff;
    box-shadow: 0 0.4rem 1rem 0 #7688d5;
    max-width: 21.6rem;
    overflow: hidden;
    position: relative;
    transition: $transition-duration;
    width: 100%;

    // Thumbnail
    & > span {
      pointer-events: none;
    }

    & > p {
      background-color: #000000aa;
      bottom: 0;
      color: #ffffff;
      font-size: 2rem;
      overflow-x: hidden;
      padding: 0.4rem 1rem;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      background-color: $highlight-color;
      transform: scale(1.1);
    }
  }

  &-wrapper {
    margin-top: 4.4rem;
  }

  &__version {
    color: #ffffff;
    font-size: 3.2rem;
  }

  &__thumbnail {
    width: 100%;
    opacity: 1;
    transition: opacity $transition-duration;

    &--hidden {
      opacity: 0;
    }
  }
}

.footer {
  color: #000000;
  font-size: 1.4rem;
  gap: 1.6rem;
  margin-top: 4rem;
  text-align: center;

  & a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
  }

  &__copyright,
  &__contact,
  &__hit {
    display: block;
    margin-top: 1rem;
  }
}

.modal {
  display: none;
  background-color: #000000ee;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &__content {
    &-wrapper {
      margin: 0 auto;
      height: 100vh;
      max-width: 100vw;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 4rem 12rem;
      position: relative;
    }

    &__image {
      opacity: 1;
      transition: $transition-duration ease-in-out;
      width: 100%;

      &--hidden {
        opacity: 0;
      }

      &-wrapper {
        position: relative;
        margin: 4rem auto 0;
        aspect-ratio: 900 / 1136;
        max-width: 60rem;
        user-select: none;
      }

      &-illustrator {
        color: #ffffff;
        font-size: 2rem;
        text-align: right;
        opacity: 1;
        transition: opacity $transition-duration;

        &--hidden {
          opacity: 0;
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &__title {
      color: #ffffff;
      font-size: 5.2rem;
      margin-top: 7.4rem;
      text-align: center;
    }

    &__episodes {
      background-color: #141414;
      box-shadow: 0 0.2rem 0.4rem 0.2rem #000000;
      border: 2px solid #aaaaaa;
      border-radius: 8px;
      color: #ffffff;
      flex-shrink: 0;
      margin: 0 auto;
      padding: 1.6rem;
      transform: rotateX(180deg);
      transition: background-color $transition-duration;
      user-select: none;
      max-width: 80%;

      &__story {
        & > summary {
          cursor: pointer;
          font-size: 3rem;
          font-weight: 700;
          line-height: 2;
          text-align: center;

          &:hover {
            background-color: #333333;
            border-radius: 8px;
          }
        }

        & + & {
          margin-top: 16px;
        }

        &__title {
          font-size: 2.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        &__subtitle {
          font-size: 1.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        &__content {
          font-size: 1.6rem;
          margin-top: 2rem;

          & > a {
            color: #ffffff;
          }
        }
      }

      &-wrapper {
        margin: 4rem auto 0;
        overflow-x: auto;
        padding-bottom: 2.8rem;
        transform: rotateX(180deg);
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          height: 1.2rem;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0.8rem;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 0.4rem;
        }
      }
    }
  }

  &__close {
    &-button {
      fill: #ffffff;
      height: 6rem;
      right: 1rem;
      overflow: hidden;
      position: fixed;
      top: 1rem;
      width: 6rem;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__transform {
    &-button {
      fill: #ffffff;
      height: 5rem;
      left: 1rem;
      opacity: 1;
      overflow: hidden;
      position: absolute;
      transition: opacity $transition-duration;
      top: 1.5rem;
      width: 5rem;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }

      &--hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__scrollTop {
    cursor: pointer;
    fill: #ffffff;
    height: 6rem;
    right: 1rem;
    overflow: hidden;
    position: fixed;
    bottom: 1rem;
    width: 6rem;
    z-index: 1;
  }

  &--active {
    display: block;
  }
}

.fixed-background {
  background-image: url(../public/bg.webp);
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &-mountain {
    background-image: url(../public/bg_mountain.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 1rem;
  }

  .main {
    &__title {
      color: #ffffff;
      font-size: 2.8rem;
    }
  }

  .version {
    &-tab {
      font-size: 1.2rem;

      &-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
      }
    }
  }

  .character-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;

    & > li {
      & > p {
        font-size: 1rem;
      }
    }

    &-wrapper {
      margin-top: 2.8rem;
    }

    &__version {
      color: #ffffff;
      font-size: 2rem;
    }
  }

  .modal {
    &__content {
      &-wrapper {
        padding: 1rem;
        padding-bottom: 10rem;
      }

      &__title {
        font-size: 3.6rem;
      }

      &__episodes {
        max-width: 100%;

        &__story {
          & > summary {
            font-size: 2rem;
          }

          &__title {
            font-size: 2.4rem;
          }

          &__subtitle {
            font-size: 1.6rem;
          }

          &__content {
            font-size: 1.4rem;
          }
        }

        &-wrapper {
          margin-bottom: 2rem;
          &::-webkit-scrollbar,
          &::-webkit-scrollbar-track,
          &::-webkit-scrollbar-thumb {
            display: none;
          }
        }
      }

      &__image {
        &-illustrator {
          font-size: 1.5rem;
        }
      }
    }
  }
}
