$highlight-color: #FFE832;
$transition-duration: 0.4s;

.wrapper {
  margin: 0 auto;
  max-width: 102.4rem;
  min-height: 100vh;
  padding: 4rem;
  position: relative;
}

.main {
  &__title {
    font-size: 4.8rem;
    position: relative;

    // &::after {
    //   aspect-ratio:  1 / 1;
    //   content: '';
    //   background-image: url('../public/mascot.png');
    //   background-position: center center;
    //   background-size: contain;
    //   position: absolute;
    //   transform: translateY(50%);
    //   top: -50%;
    //   width: 6.4rem;
    // }
  }
}

.character-list {
  display: grid;
  gap: 2.8rem;
  grid-template-columns: repeat(4, 1fr);
  
  margin-top: 2rem;

  & > li {
    aspect-ratio: 1/1;
    background-color: #004465;
    border-radius: 0.8rem;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0.4rem 1rem 0 #444444;
    max-width: 21.6rem;
    overflow: hidden;
    position: relative;
    transition: $transition-duration;
    

    // Thumbnail
    & > span {
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
      background-color: $highlight-color;
      transform: scale(1.1);
    }
  }

  &-wrapper {
    margin-top: 4.4rem;
  }

  &__version {
    color: #333333;
    font-size: 3.2rem;
  }
}

.footer {
  color: #FFFFFF;
  font-size: 1.4rem;
  gap: 1.6rem;
  margin-top: 4rem;
  text-align: center;

  & a {
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
  }

  &__copyright,
  &__contact,
  &__hit {
    display: block;
    margin-top: 1rem;
  }
}

.modal {
  display: none;
  background-color: #000000EE;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &__content {
    &-wrapper {
      margin: 0 auto;
      height: 100vh;
      max-width: 100vw;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 4rem 12rem;
      position: relative;
    }

    &__image {
      position: relative;
      margin: 4rem auto 0;
      aspect-ratio: 900 / 1136;
      max-width: 52rem;
      transition: $transition-duration ease-in-out;
      user-select: none;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__title {
      color: #FFFFFF;
      font-size: 5.2rem;
      margin-top: 7.4rem;
      text-align: center;
    }

    &__episodes {
      align-items: flex-end;
      justify-content: space-between;
      display: flex;
      gap: 2rem;
      padding-top: 4rem;

      &__story {
        background-color: #141414;
        box-shadow: 0 0.2rem 0.4rem 0.2rem #000000;
        border: 2px solid #AAAAAA;
        color: #FFFFFF;
        cursor: pointer;
        flex-shrink: 0;
        max-width: 40vw;
        padding: 1.6rem;
        transform: rotateX(180deg);
        transition: background-color $transition-duration;
        user-select: none;
        width: 100%;

        &:hover {
          background-color: #333333;
        }

        &__number {
          font-size: 1.6rem;
          font-weight: 700;
        }

        &__title {
          font-size: 2.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        &__subtitle {
          font-size: 1.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        &__content {
          font-size: 1.6rem;
          margin-top: 2rem;;
        }

        &--closed {
          border: 1px solid #8A8A8A;
          height: 16rem;
          overflow: hidden;

          & > .modal__content__episodes__story__subtitle {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }

      &-wrapper {
        margin: 4rem auto 0;
        overflow-x: auto;
        padding-bottom: 2.8rem;
        transform: rotateX(180deg);
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          height: 1.2rem;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0.8rem;
        }
        
        &::-webkit-scrollbar-thumb {
          border-radius: 0.4rem;
        }
      }
    }
  }

  &__close-button {
    color: #FFFFFF;
    font-size: 4rem;
    overflow: hidden;
    position: fixed;
    right: 1rem;
    line-height: 1;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 1;

    &:hover {
      cursor: pointer;
      transition: $transition-duration;

      &::after,
      &::before {
        height: 0.3rem;
      }
    }

    &::after,
    &::before {
      background-color: #FFFFFF;
      content: '';
      display: block;
      height: 0.2rem;
      position: absolute;
      right: 2rem;
      top: 50%;
      width: 6rem;
    }

    &::before {
      transform: rotate(45deg)
    }

    &::after {
      transform: rotate(-45deg) translateY(-50%);
    }
  }

  &--active {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 1rem;
  }

  .main {
    &__title {
      color: #333333;
      font-size: 2.8rem;

      // &::after {
      //   width: 3.7rem;
      // }
    }
  }

  .character-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;

    &-wrapper {
      margin-top: 2.8rem;
    }

    &__version {
      color: #333333;
      font-size: 2rem;
    }
  }

  .modal {
    &__content {
      &-wrapper {
        padding: 1rem;
        padding-bottom: 10rem;
      }

      &__title {
        font-size: 3.6rem;
      }

      &__episodes {
        &__story {
          max-width: 80vw;

          &__number {
            font-size: 1.2rem;
          }
  
          &__title {
            font-size: 2.4rem;
          }
  
          &__subtitle {
            font-size: 1.6rem;
          }
  
          &__content {
            font-size: 1.4rem;
          }

          &--closed {
            height: 14rem;
          }
        }
  
        &-wrapper {
          margin-bottom: 2rem;
          &::-webkit-scrollbar,
          &::-webkit-scrollbar-track,
          &::-webkit-scrollbar-thumb {
            display: none;
          }
        }
      }
    }

    &__close-button {
      top: 1rem;
      right: -2rem;
    }
  }
}